h1 {
	font-family: impact, charcoal, sans-serif;
	color: crimson;
	font-size: 75px;
	outline: 4px solid darkblue;
}

h2 {
	font-family: impact, charcoal, sans-serif;
	font-size: 28px;
}

h3 {
	font-family: impact, charcoal, sans-serif;
	font-size: 22px;
}

p {
	font-family: impact, charcoal, sans-serif;
	font-size: 24px;
}

ul {
	font-family: impact, charcoal, sans-serif;
	font-size: 18px;
}

ol {
	font-family: impact, charcoal, sans-serif;
	font-size: 18px;
}

form {
	font-family: impact, charcoal, sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

#box1 {
	box-sizing: border-box;
	width: 475px;
	height: 100px;
	padding: 5px;
	border: 5px solid black;
}

#menubar {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#home {
	float: left;
}

#homelink {
	display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

#homelink:hover {
	background-color: #111;
}
